<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=806, user-scalable=no">
<title>server-side-matterjs-demo</title>

<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/renderer.js"></script>
<script src="/javascript/socket-client.js"></script>
</head>
<body style="margin: 0; padding: 0;">
	<canvas id="myCanvas" width="800" height="600" style="background: ghostwhite; border: solid 3px lightgray; border-radius: 10px"></canvas>
</body>
</html>
